@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
}
nav .collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}
